.main-nav__button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 0;
  z-index: 20;

  margin-top: 10px;
  margin-bottom: 10px;
  color: $primary-black-color;
  background-color: transparent;
  cursor: pointer;

  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  .main-nav__icon--close {
    display: none;
  }
  &.is-open .main-nav__icon--close {
    display: block;
    z-index: 121;
  }
  &.is-open .main-nav__icon--open {
    display: none;
  }
}

.main-nav__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
